<h1> Welcome to the Oregon Trail! </h1>

<form action="/mountain_river" method="POST">
<h2> You come to a fork in the road, which path will you take? Mountain or River? </h2>
<input type="text" name="mountain_river">
<input type="submit">
</form>
<img src=”mmmassive.jpg”>
<img src=”river.jpg”>
